.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #6098cc;
}

.pageContent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
  text-align: justify;
  line-height: 18px;
}

.toplink a {
  color: #ffffff;
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  text-decoration: none;
  outline: none;
}

.footer-nav {
  padding-left: 0px;
  background-color: #0e5c9f;
  text-align: center;
}
li {
  display: inline-block;
  padding: 10px 20px;
}
li:hover {
  background-color: #2779bf;
}
li > a {
  color: white;
  text-decoration: none;
}
